.homePage {
    width: 40%;
    background-color: black;
    border-left: 1px solid rgba(255, 255, 255, 0.170);
    border-right: 1px solid rgba(255, 255, 255, 0.170);
    position: relative;
    left: 25%;
}
.homePage .topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 15px;
    padding-right: 20px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(5, 5, 5, 0.820);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.homePage .posts{
    display: flex;
    flex-direction: column;
}
.homePage .post{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.170);
}
.homePage .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.homePage .titleLeft{
    display: flex;
    align-items: center;
    gap: 10px;
}
.homePage .titleLeft div h4{
    display: flex;
    align-items: center;
    gap: 3px;
}
.homePage .titleLeft div h4 svg{
    fill: rgba(29,155,240,1);
}
.homePage .titleLeft p{
    color: rgba(113,118,123,1);
    font-size: 14px;
}
.homePage .titleLeft img{
    height: 45px;
    border-radius: 50%;
}
.homePage .contentPic{
    border-radius: 20px;
    max-height: 600px;
    width: 100%;
    object-fit: cover;
}
.homePage .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}
.homePage .icons .icon{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.homePage .posts .title svg:hover{
    fill: rgba(29, 155, 240, 1);
}
.homePage .icons .icon:hover p,
.homePage .icons .icon:hover svg {
    color: rgba(29, 155, 240, 1);
    fill: rgba(29, 155, 240, 1);
}
.homePage .icons .repost:hover p,
.homePage .icons .repost:hover svg {
    color: rgba(0, 186, 124, 1);
    fill: rgba(0, 186, 124, 1);
}
.homePage .icons .like:hover p,
.homePage .icons .like:hover svg {
    color: rgba(249, 24, 128, 1);
    fill: rgba(249, 24, 128, 1);
}
.homePage .icons svg{
    fill: rgba(113,118,123,1);
}
.homePage .icons p{
    color: rgba(113,118,123,1);
    font-size: 13px;
}
.homePage .space {
    background-image: linear-gradient(to right,blue,blueviolet); 
    padding: 20px; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    text-decoration: none;
}
.homePage .space div{
    display: flex; 
    align-items: center;
    gap: 10px;
}
.homePage .space div h4{
    display: flex;
    align-items: center;
    gap: 3px;
}
.homePage .space div p{
    font-size: small;
    background-color: rgba(255, 255, 255, 0.355);
    padding: 5px;
    border-radius: 5px;
}
.homePage .space button{
    background-color: rgba(255, 255, 255, 0.330);
    padding: 15px;
    font-size: large;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 20px;
}
.homePage .space button:hover{
    background-color: rgba(255, 255, 255, 0.650);
    cursor: pointer;
}