.xjobs {
    width: 75%;
    background-color: black;
    border-left: 1px solid rgba(255, 255, 255, 0.170);
    position: absolute;
    top: 0;
    left: 25%;
    overflow-y: auto;
    height: 100vh;
}

.xjobs::-webkit-scrollbar {
    display: none;
}

.xjobs {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.xjobs .topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    padding-left: 15px;
    padding-right: 40px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(5, 5, 5, 0.820);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 10000;
}

.xjobs .topBar .title {
    display: flex;
    align-items: center;
    gap: 15px;
}

.xjobs .topBar .title svg {
    padding: 10px;
    border-radius: 50%;
}

.xjobs .topBar .title svg:hover {
    background-color: #33333376;
    cursor: pointer;
}

.xjobs .topBar .options {
    display: flex;
    align-items: center;
    gap: 30px;
}

.xjobs .topBar .options p {
    color: rgba(113, 118, 123, 1);
    font-family: system-ui;
    cursor: pointer;
}

.xjobs .logo img {
    width: 100%;
}

.xjobs .searchBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 15px;
}

.xjobs .input {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.xjobs .searchBar input {
    width: 30%;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.170);
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
}

.xjobs .searchBar input:focus {
    border: 2px solid rgb(29, 155, 240);
}

.xjobs .searchBar button {
    background-color: rgb(29, 155, 240);
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.xjobs .boxes {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.xjobs .p1 {
    font-size: small;
    color: rgba(113, 118, 123, 1);
}

.xjobs .p2 {
    color: #0299fe;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.xjobs .boxes .box {
    width: 50%;
    padding: 20px;
}

.xjobs .jobs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    background-color: rgb(22, 24, 29);
    padding: 15px;
    border-radius: 10px;
}

.xjobs .job {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.xjobs .jobBottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.170);
    padding-bottom: 10px;
}

.xjobs .job img {
    height: 80px;
    width: 80px;
    border-radius: 20px;
}

.xjobs .details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.xjobs .details p {
    font-size: small;
}

.xjobs .applications {
    padding: 20px;
    margin-bottom: 40px;
}

.xjobs .appliedJobs {
    display: flex;
    flex-direction: column;
    position: relative;
}

.xjobs .appliedJob img {
    height: 80px;
    width: 80px;
    border-radius: 20px;
}

.xjobs .appliedJob {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.xjobs .statusBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
}

.xjobs .statusBar::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: white;
    z-index: 1;
}

.xjobs .statusStep {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 16%;
}

.xjobs .statusNumber1 {
    font-size: large;
    border-radius: 50%;
    background-color: grey;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 2;
}

.xjobs .statusNumber2 {
    font-size: large;
    border-radius: 50%;
    background-color: rgb(2, 215, 2);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 2;
}

.xjobs .statusText {
    font-size: 15px;
    font-family: system-ui;
}

.xjobs .jobPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.xjobs .jobPost button {
    padding: 15px;
    width: 40%;
    background-color: white;
    color: black;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    cursor: pointer;
}

.xjobs .jobPost p {
    font-size: 14px;
    font-family: system-ui;
    color: #0299fe;
    cursor: pointer;
}

.xjobs .jobAnalytics {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}

.xjobs .analytics {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 90px;
}

.xjobs .people {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    background-color: rgb(22, 24, 29);
    padding: 15px;
    border-radius: 10px;
}

.xjobs .people img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.xjobs .person {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.xjobs .personDetails {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.xjobs hr {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.170);
    border: none;
}

@media (max-width:1240px) {
    .xjobs {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .xjobs .topBar {
        padding-right: 20px;
    }
    
    .xjobs .topBar .options {
        gap: 20px;
    }
    
    .xjobs .topBar .options p {
        font-size: small;
    }
    
    .xjobs .input {
        flex-direction: column;
    }
    
    .xjobs .searchBar input {
        width: 70%;
    }
    
    .xjobs .boxes {
        flex-direction: column;
    }
    
    .xjobs .boxes .box {
        width: 100%;
    }
    
    .xjobs .statusText {
        font-size: 10px;
        text-align: center;
    }
    
    .xjobs .jobPost button {
        width: 60%;
    }
}