.xpay {
  width: 75%;
  background-color: black;
  border-left: 1px solid rgba(255, 255, 255, 0.170);
  position: absolute;
  top: 0;
  left: 25%;
  overflow-y: auto;
  height: 100vh;
}

.xpay::-webkit-scrollbar {
  display: none;
}

.xpay {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.xpay .topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  padding-left: 15px;
  padding-right: 40px;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(5, 5, 5, 0.820);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 10000;
}

.xpay .topBar .title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.xpay .topBar .title svg {
  padding: 10px;
  border-radius: 50%;
}

.xpay .topBar .title svg:hover {
  background-color: #33333376;
  cursor: pointer;
}

.xpay .topBar .input {
  width: 50%;
  border-radius: 30px;
  background-color: rgb(22, 24, 29);
  display: flex;
  align-items: center;
  gap: 10px;
}

.xpay .topBar .input input {
  padding: 15px;
  padding-left: 20px;
  border: none;
  outline: none;
  width: 90%;
  background-color: transparent;
  font-size: 14px;
}

.xpay .topBar .input input::placeholder {
  color: rgb(113, 118, 123);
}

.xpay .topBar .input svg {
  fill: rgb(113, 118, 123);
}

.xpay .logo img {
  width: 100%;
}

.xpay .main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
}

.xpay .section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.xpay .options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.xpay .option {
  background-color: rgb(22, 24, 29);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.xpay .option:hover {
  background-color: rgb(32, 35, 39);
  transform: translateY(-3px);
  cursor: pointer;
}

.xpay .option img {
  width: 100%;
  border-radius: 20px;
}

.xpay .option p {
  font-family: system-ui;
}

.xpay .small-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.xpay .small-box {
  background-color: rgb(22, 24, 29);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-family: system-ui;
  color: #0299fe;
  transition: background-color 0.1s ease, transform 0.1s ease;
}

.xpay .small-box:hover {
  background-color: rgb(32, 35, 39);
  transform: translateY(-3px);
  cursor: pointer;
}

.xpay .account-details {
  background-color: rgb(22, 24, 29);
  padding: 20px;
  margin-top: 40px;
}

.xpay .account-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.xpay .account-header img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.xpay .account-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.xpay .account-info p {
  font-size: small;
  color: rgba(113, 118, 123, 1);
}

.xpay .account-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.xpay .account-option {
  background-color: rgb(32, 35, 39);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  align-content: center;
  font-size: 14px;
  font-family: system-ui;
  transition: background-color 0.3s ease;
}

.xpay .account-option:hover {
  background-color: rgb(51, 55, 61);
  cursor: pointer;
}

@media (max-width:1240px) {
  .xpay {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .xpay .topBar {
    padding-right: 20px;
  }

  .xpay .topBar .input {
    width: 10%;
    border-radius: 50%;
    background-color: transparent;
  }

  .xpay .topBar .input input {
    display: none;
  }

  .xpay .topBar .input svg {
    height: 25px;
    fill: white;
  }

  .xpay .main {
    gap: 20px;
    padding: 15px;
    padding-top: 20px;
  }

  .xpay .option {
    padding: 0;
    gap: 5px;
    padding-bottom: 5px;
    text-align: center;
  }

  .xpay .option img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 60%;
  }

  .xpay .option p {
    padding-left: 25px;
    padding-right: 25px;
  }
}